<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ページタイトル</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<header>

    <div class="container">

        <h1>Sample Company</h1>

        <nav>

            <ul>
                <li><a href="../index.html">ホーム</a></li>
                <li><a href="../contact.html">お問い合わせ</a></li>
            </ul>

        </nav>

    </div>

</header>

<main class="container">

    <h2>ページタイトル</h2>

    <p>
        この部分を書き換えてページを作成してください
    </p>

</main>

<footer>

    <p>
        © 2026 Sample Company
    </p>

</footer>

</body>
</html>